/*
 * Forum Topic Action links
 */

#block-views-forum-topic-type-actions-block .view-content {
  position: absolute;
  width: 1068px;
left: -315px;
top: -25px;
}

#block-views-forum-topic-type-actions-block .views-row {
  float: left;
  width:166px;
}
#block-views-41f811dfbd6ec4751785bc1d370afaf6 {
  margin-top: 66px;
}

/* 
 * They are messed up on Topic pages. Hide them.
 */
body.node-type-forum #block-views-forum-topic-type-actions-block {
  display: none;
}

/* HACKS */

#breadcrumb {
display: none;
}

.page-node #breadcrumb, .page-forum- #breadcrumb {
display: inline;
}

#breadcrumb .breadcrumb {
position: relative;
left: 15px;
top: 5px;
}
body #page .region-header { margin-top: 0em !important;}

#name-and-slogan {display: none;}

.region-help { border: none !important; }

#header {
font-size:20px !important;
}

#secondary-menu {
  top: 207px !important;
}
#secondary-menu a {
  color: #333 !important;
}

/* 
 * Frontpage
 */
body.front #page-title, body.front .tabs {
  display: none;
}

body.front #featured .block {
  width: 300px;
  padding: 0px;
  margin: 0 10px;
  float: left;
  text-align: left;
}
body.front #featured .block .views-field-created {
  color: #999;
  font-size: 16px;
}
body.front #featured .block .views-field-field-blog-summary {
  color: #333;
  font-size: 16px;
}
.view-farmhack-frontpage-events thead {
/*  display: none; */
}
/*
 * The ticker
 */
.view-id-clone_of_recent_comments {color: #444;}

/*
 * Styling the triptych regions for Forum listings
 */ 
#triptych-wrapper .views-field-field-image {float: left;}
#triptych-wrapper .views-row {margin: 0 0 20px;}

/*
 * Mess with Taxonomy pages. Quite aggressive.  
 
body.page-taxonomy-term #block-system-main {display: none;}
*/
body.page-taxonomy-term .field-name-field-image {float: right;}
body.page-taxonomy-term .feed-icon {display: none;}
body.page-taxonomy-term #triptych-wrapper {padding-top:60px;}

/*
 * Blocks on Tool pages
 */
body.page-taxonomy-term #block-views-tool-wiki-block {float: left; width: 420px;}
body.page-taxonomy-term #block-views-tool-image-block {float: right; margin-top: 0px;}
body.page-taxonomy-term #block-views-tool-profile-block {float: right; display: none;}

#block-views-wiki-node-images-block {
float: right;
clear: right;
margin: 0px;
width: 480px;
text-align: center;
}

/*
 * Forum Subscribe
 */ 
#block-boxes-tools-forum-title, #block-boxes-events-forum-title,
#block-boxes-tools-wiki-title, #block-boxes-events-wiki-title {
  position: relative;
}
#block-boxes-tools-forum-title a:hover, #block-boxes-events-forum-title a:hover,
#block-boxes-tools-wiki-title a:hover, #block-boxes-events-wiki-title a:hover {
  background: #111;
}
#block-boxes-tools-forum-title a, #block-boxes-events-forum-title a {
position: absolute;
font-size: 17px;
top: -132px;
left: 250px;
width: 193px;
background: #333;
padding: 0px;
height: 83px;
}
#block-boxes-tools-wiki-title a, #block-boxes-events-wiki-title a  {
position: absolute;
top: -25px;
font-size: 14px;
left: 250px;
width: 193px;
background: #333;
padding: 0px;
height: 70px;
}
#block-boxes-tools-forum-title img, #block-boxes-events-forum-title img {
position: absolute;
top: 7px;
left: 17px;
}
#block-boxes-tools-wiki-title img, #block-boxes-events-wiki-title img {
position: absolute;
top: 0px;
left: 17px;
}
#block-boxes-tools-forum-title .unsubscribe-text, #block-boxes-events-forum-title .unsubscribe-text {
position: absolute;
top: 13px;
left: 95px;
width: 90px;
font-size: 15px;
text-align: center;
}

#block-boxes-tools-wiki-title .unsubscribe-text, #block-boxes-events-wiki-title .unsubscribe-text {
position: absolute;
top: 4px;
left: 95px;
width: 90px;
font-size: 15px;
text-align: center;
}

#block-boxes-tools-forum-title .subscribe-text, #block-boxes-events-forum-title .subscribe-text {
position: absolute;
top: 10px;
left: 100px;
width: 90px;
text-align: center;
}

#block-boxes-tools-wiki-title .subscribe-text, #block-boxes-events-wiki-title .subscribe-text {
position: absolute;
top: 5px;
left: 100px;
width: 90px;
text-align: center;
}
/*
 * Blocks on Events pages
 */
#block-views-event-fields-block-2 {
font-size: 25px !important;
margin: 0px 0px 140px 0px;
}

#block-views-event-fields-block-2 .views-field-field-datetime {
width: 350px;
}

#block-views-event-fields-block-2 .views-field-field-text-location {
width: 350px;
}

#block-views-event-fields-block-2 .views-field-field-image {
position: relative;
bottom: 70px;
float: right;
padding: 7px 7px 1px 7px;
margin: 0px 0px 11px 11px;
background: #DDD;
border: solid #292929 1px;
}

#block-views-events-wiki-block {
margin-bottom: 40px;
}

/* 
 * Badass Titles 
 */
body.page-taxonomy-term #page-title {
background: #333;
color: white;
position: relative;
left: -400px;
width: 1820px;
padding: 50px 0px 50px 400px;
font-size: 40px;
bottom: 40px;
}
body.page-taxonomy-term #main-menu-links li a.active { background: #333; color: #FFF; }
body.page-taxonomy-term .tabs {position: relative; top: -44px}
/* don't mess with the wiki tabs */
body.page-taxonomy-term .region-content .tabs {position: relative; top: 0px}

/* 
 * Block Title Strips 
 */
#block-boxes-tools-wiki-title {
position: relative;
}

.region-content .block h2 {
position: relative;
top: -25px;
background: #292929;
color: #FFF !important;
width: 255px;
left: -400px;
padding: 15px 0px 15px 400px;
font-size: 40px !important;
line-height: 1em !important;
}


#block-boxes-tools-forum-title h2, #block-boxes-events-forum-title h2 {
position: absolute;
top: -156px;
background: #292929;
color: #FFF !important;
width: 305px;
height: 55px;
left: -400px;
padding: 28px 0px 0px 346px;
}

/*
 * The forum
 */
 body.page-forum- ul.action-links { display: none;}
 
body.page-forum- #block-views-forum-topic-type-actions-block .view-content {
  position: relative;
  width: 1068px;
left: 0px;
bottom: -0px;
}
